body {
    background-color: #fafafa;
    header {
        background: #db4c3f;
        a {
            color: #ffffff;
            &:hover {
                color: #313131;
                text-decoration: none;
            }
        }
    }
}

