$primary-color: #fafafa;
$text-color: #313131;
body {
    background-color: $primary-color;
    header {
        background: #db4c3f;
        a {
            color: #ffffff;
            &:hover {
                color: $text-color;
                text-decoration: none;
            }
        }
    }
    .wrapper {
        background: #ffffff;
        span.status {
            display: inline-block;
            border: 1px solid #cccccc;
            border-radius: 50%;
            background-color: #fff;
            height: 15px;
            width: 15px;
            vertical-align: middle;
            &.done {
                background: forestgreen;
                border: 1px solid forestgreen;
            }
        }
    }
}