{% extends 'base.html.twig' %}

{% block title %}Todo App{% endblock %}
{% block body %}
    {% for todo in todos %}
        <p>
            <span class="status {% if todo.status == 'Pending' %} done {% endif %}"></span>
            {{ todo.name }}
        </p>
    {% endfor %}
{% endblock %}